<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   Hello,<br>

   The api is scraping from <a href="https://www.glassdoor.sg/Job/india-software-engineer-jobs-SRCH_IL.0,5_IN115_KO6,23.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=&typedLocation=India&context=Jobs&dropdown=0"> Glassdoor (India)</a>
    <br>
    Credits for scraper
    <a href="https://github.com/kelvinxuande/glassdoor-scraper">kelvinxuande</a>
    
</body>
</html>